* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header{
text-align: center;
margin-top: 3vw;
margin-bottom: 5vw;
}

nav li{
  display:flex;
  flex-direction: row;
  font-size: 150%;
  padding-left: 10vw;
  padding-right: 10vw;
}

nav ul{
    
    width: auto;
    margin:auto;
}

#img-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  grid-column-gap: 2vw;
  grid-row-gap: 2vw; 
  width:auto;
  margin-left:5vw;
  margin-right:5vw;
  padding:5vw;
  justify-content: center;
}

#img-grid img {
  max-width:100%;
}



#container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
}

footer {
  text-align: center;
  margin-bottom: 3vw;
  font-size: 130%;
}



